* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #66FF99;
    color: #CCCCCC;
}

body {
    height: 100vh;
    width: 100vw;
    /* background-color: #222222; */
    /* background-color: #000000; */
    /* background-color: #001F3F; */
    background-color: #001122;
    /* background-color: #800000; */
    /* background-color: #800020; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #003300;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    padding: 20px;
}
.box {
    padding: 10px;
    text-align: center;
}
.processors{
    height: 100%;
    width: 30%;
}
.cpu-bar{
    height: 100%;
    width: 50%;
}
.cpu-mark{
    height: 100%;
    width: 20%;
}
.sub-box{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 5px;
}
/* .box .bar{
    background-color:#CCCCCC;
} */
@keyframes slide1 {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
@keyframes slide1 {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
@keyframes slide1 {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
@keyframes slide1 {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
@keyframes slide1 {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
@keyframes slide1 {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
@keyframes slide1 {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
@keyframes slide1 {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
@keyframes slide1 {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
@keyframes slide1 {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
@keyframes slide1 {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
.bar .bar-color{
    width: 100%;
    height: 60%;
    background-color: blue;
}
.bar .bar-color:nth-child(1){
    animation-name: slide1;
    animation-duration: 3s;
    animation-duration: 0.2s;
}
.bar .bar-color:nth-child(1){
    
}
.bar .bar-color:nth-child(1){}
.bar .bar-color:nth-child(1){}
.bar .bar-color:nth-child(1){}
.bar .bar-color:nth-child(1){}
.bar .bar-color:nth-child(1){}
.bar .bar-color:nth-child(1){}
.bar .bar-color:nth-child(1){}
.bar .bar-color:nth-child(1){}
.bar .bar-color:nth-child(1){}